/* Cart */

.checkoutBox {
  margin-top: 7rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.checkoutContainer {
  
  height: 300px;
  width: 250px;
  /* background-color: #e6e6e6; */
  margin: 3.8rem 3rem;
  /* border-top: 3px solid #d69d66;
  border-left: 3px solid #d69d66; */
  border: 2px solid black;
}

.priceRemove {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.EditCart{
  display: flex;
  flex-direction: column;
  width:55%;
}
.priceAdjustment{
  margin: 0;
  margin-left: 5.4rem;
}
.itemsinCheckoutCart{
  display: flex;
  margin: 0;
  padding: 0;
}
/* Cart */
/* CartItem */
.cartItemContainer {
  height: 125px;
  width: 100%;
  background-color: #e6e6e6;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
}

.itemImage {
  height: 100px;
}

.description {
  font-size: 12px;
}
.title {
  font-size: 12px;
}
.nameDesc {
  width: 19rem;
}
.removeItem {
  margin-right: 2rem;
}
.removeItem:hover{
  cursor: pointer;
}
.imageText{
  display: flex;
  width: 20rem;
}
/* CartItem */
/* Cart Action */
.Checkoutbtn{
  width: 100%;
  background-color: #d69d66;
}
/* Cart Action */
